Repository BF-FrontEnd-class-2025/group-1-loruki, pull requests merged in 2025-01, with the labels that each got.

#7 add backlog.md
  planning/backlog.md
Labels: md

#10 add communications
  .cspell.json
  planning/communication.md
Labels: md

#9 add design.md
  planning/design-img/docs-page.png
  planning/design-img/features-page.png
  planning/design-img/home-page.png
  planning/design.md
Labels: md

#11 add user-personas
  planning/user-personas.md
Labels: md

#15 update design.md
  planning/design.md
Labels: md

#13 update-backlog.md
  planning/backlog.md
Labels: md

#24 add Development-strategy
  planning/development-strategy.md
Labels: md, planning

#23 add project-definition
  .cspell.json
  README.md
  img/features.png
  img/screenshot.png
Labels: md, planning

#27 add images
  images/cli.png
  images/cloud.png
  images/docs.png
  images/favicon.png
  images/logos/clojure.png
  images/logos/csharp.png
  images/logos/go.png
  images/logos/node.png
  images/logos/php.png
  images/logos/python.png
  images/logos/ruby.png
  images/logos/scala.png
  images/npm.png
  images/server.png
  images/server2.png
Labels: img

#25 add header/short description & form (showcase)/footer HTML & CSS
  .cspell.json
  index.html
  styles/index.css
  styles/style.css
  styles/utilities.css
Labels: html, css

#31 add stats
  index.html
  styles/style.css
Labels: html, css

#34 add cli
  index.html
  styles/style.css
Labels: html, css

#36 update backlog 2
  planning/backlog.md
Labels: md

#40 development feat updt
  planning/development-strategy.md
Labels: md, planning

#41 add cloud
  index.html
  styles/style.css
Labels: html, css

#44 add languages
  index.html
  styles/style.css
Labels: html, css

#48 add gooter to features psge
  features.html
Labels: html

#58 add features subhead
  features.html
Labels: html, css

#60 add features subhead update
  features.html
Labels: html, css

#59 add footer to docs page
  docs.html
Labels: html

#64 apdate css link in docs page
  docs.html
Labels: html

#65 add image design
  img/docs.png
  img/features2.png
  planning/design.md
Labels: md, planning

#70 development update
  planning/development-strategy.md
Labels: md, planning
